@model IEnumerable<Category>

@foreach(var category in Model)
{
	<li><a asp-action="Index" asp-controller="Categories" asp-route-slug="@category.slug"><i class="far fa-square"></i>@category.name</a></li>
}

	 