<div class="shop-widget">
    <h3 class="shop-title">Search by</h3>
    <form action="#" class="shop-search">
        <input type="text" placeholder="Your keyword....">
        <button><i class="fa fa-search"></i></button>
    </form>
</div>

<div class="shop-widget">
    <h3 class="shop-title">BRANDS</h3>
    <ul class="shop-link">
        <vc:brands></vc:brands>
    </ul>
</div>
<div class="shop-widget">
    <h3 class="shop-title">Catergories</h3>
    <ul class="shop-link">
        <vc:categories></vc:categories>
    </ul>
</div>

<div class="shop-widget">
    <h3 class="shop-title">Tags</h3>
    <ul class="shop-tag">
        <li><a href="shop.html"> Minimal</a></li>
        <li><a href="shop.html"> T-Shirts</a></li>
        <li><a href="shop.html"> Pants</a></li>
        <li><a href="shop.html"> Jeants</a></li>
        <li><a href="shop.html"> Winter</a></li>
        <li><a href="shop.html"> Latest</a></li>
        <li><a href="shop.html"> New</a></li>
        <li><a href="shop.html"> Sale</a></li>
    </ul>
</div>

<div class="shop-widget">
    <h3 class="shop-title">color</h3>
    <ul class="shop-link">
        <li><a href="shop.html"><span class="blue"></span> Blue</a></li>
        <li><a href="shop.html"><span class="green"></span> Green</a></li>
        <li><a href="shop.html"><span class="orange"></span> Orange</a></li>
        <li><a href="shop.html"><span class="navy"></span> Navy</a></li>
        <li><a href="shop.html"><span class="pinkish"></span> Pinkish</a></li>
        <li><a href="shop.html"><span class="vista"></span> Vista Blue</a></li>
    </ul>
</div>

<div class="shop-widget">
    <h3 class="shop-title">Recent Product</h3>
    <ul class="shop-sidebar-product">
        <li>
            <div class="side-pro-img">
                <a href="product-details.html"><img src="img/product/latest/shop-rsp1.jpg" alt=""></a>
            </div>
            <div class="side-pro-content">
                <div class="side-pro-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                <div class="side-pro-price">
                    <span>$119.00 USD</span>
                </div>
            </div>
        </li>
        <li>
            <div class="side-pro-img">
                <a href="product-details.html"><img src="img/product/latest/shop-rsp3.jpg" alt=""></a>
            </div>
            <div class="side-pro-content">
                <div class="side-pro-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                <div class="side-pro-price">
                    <span>$119.00 USD</span>
                </div>
            </div>
        </li>
        <li>
            <div class="side-pro-img">
                <a href="product-details.html"><img src="img/product/latest/shop-rsp2.jpg" alt=""></a>
            </div>
            <div class="side-pro-content">
                <div class="side-pro-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                <div class="side-pro-price">
                    <span>$119.00 USD</span>
                </div>
            </div>
        </li>
        <li>
            <div class="side-pro-img">
                <a href="product-details.html"><img src="img/product/latest/shop-rsp4.jpg" alt=""></a>
            </div>
            <div class="side-pro-content">
                <div class="side-pro-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h5><a href="product-details.html">Raglan Baseball-Style</a></h5>
                <div class="side-pro-price">
                    <span>$119.00 USD</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="shop-widget">
    <div class="shop-sidebar-banner">
        <a href="shop.html"><img src="img/banner/shop-banner.jpg" alt=""></a>
    </div>
</div>